<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/schema/mybatis-3-mapper.dtd">

<mapper namespace="com.example.petadmin.db.PetHospitalMapper">
    <select id="getPetHosList" resultType="com.example.petadmin.model.entity.petHospital.PetHospitalEntity">
             SELECT
                     hospital_id
                   , hospital_addr
                   , hospital_name
                   , hospital_num
                   , oper_state
                   , sigun_name
               FROM
                     pet_hospital_entity
           <if test="sk != '' || sk != null">
                <if test="sk == 'hospitalName'">
                     AND hospital_name LIKE CONCAT('%', #{sv}, '%')
                </if>
                <if test="sk == 'hospitalNum'">
                     AND hospital_num LIKE CONCAT('%', #{sv}, '%')
                </if>
           </if>
           ORDER BY hospital_name desc
              LIMIT #{page}, #{size}
    </select>

    <select id="getPetHosListCount" parameterType="Map" resultType="Int">
        SELECT COUNT(hospital_id)
        FROM pet_hospital_entity
        WHERE 1=1
        <if test="sk != '' || sk != null">
            <if test="sk == 'hospitalName'">
                AND hospital_name LIKE CONCAT('%', #{sv}, '%')
            </if>
            <if test="sk == 'hospitalNum'">
                AND hospital_num LIKE CONCAT('%', #{sv}, '%')
            </if>
        </if>
    </select>

    <select id="getPetHos" parameterType="Long" resultType="com.example.petadmin.model.entity.petHospital.PetHospitalEntity">
        SELECT
                 hospital_id
               , hos_latitude
               , hos_longitude
               , hospital_addr
               , hospital_name
               , hospital_num
               , sigun_name
               , oper_state
          FROM  pet_hospital_entity
         WHERE  hospital_id = #{hospitalId}
    </select>

    <insert id="insertPetHos" parameterType="com.example.petadmin.model.entity.petHospital.PetHospitalEntity" keyProperty="hospitalId" useGeneratedKeys="true">
        INSERT INTO pet_hospital_entity
                  (
                     hos_longitude
                    ,hos_latitude
                    ,hospital_addr
                    ,hospital_name
                    ,hospital_num
                    ,sigun_name
                    ,oper_state
                  )
             VALUES
                  (
                    #{hosLongitude}
                   ,#{hosLatitude}
                   ,#{hospitalAddr}
                   ,#{hospitalName}
                   ,#{hospitalNum}
                   ,#{sigunName}
                   ,#{operState}
                  )
    </insert>

    <insert id="insertPetHosList" parameterType="java.util.List" >
        INSERT INTO   pet_hospital_entity
                   (
                      hos_longitude
                     ,hos_latitude
                     ,hospital_addr
                     ,hospital_name
                     ,hospital_num
                     ,sigun_name
                     ,oper_state
                   )
             VALUES
        <foreach collection="list" item="item" separator=",">
                   (
                      #{hosLongitude}
                     ,#{hosLatitude}
                     ,#{hospitalAddr}
                     ,#{hospitalName}
                     ,#{hospitalNum}
                     ,#{sigunName}
                     ,#{operState}
                  )
        </foreach>
    </insert>

    <update id="updatePetHos" parameterType="com.example.petadmin.model.entity.petHospital.PetHospitalEntity">
        UPDATE
                pet_hospital_entity
           SET
                hos_latitude  = #{hosLatitude}
              , hos_longitude = #{hosLongitude}
              , hospital_addr = #{hospitalAddr}
              , hospital_name = #{hospitalName}
              , hospital_num  = #{hospitalNum}
              , oper_state    = #{operState}
              , sigun_name    = #{sigunName}
         WHERE  hospital_id   = #{hospitalId}
    </update>

    <update id="deletePetHos" parameterType="Long">
        UPDATE
               pet_hospital_entity
           SET
               delete_yn = 1
         WHERE hospital_id = #{hospitalId}
    </update>

    <delete id="deleteAllPetHos">
        DELETE
          FROM pet_hospital_entity
    </delete>

</mapper>


