<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/schema/mybatis-3-mapper.dtd">

<mapper namespace="com.example.petadmin.db.UserMapper">
    <insert id="insertUser" parameterType="com.example.petadmin.model.entity.user.UserEntity">
    INSERT INTO user_entity (
                user_id
              , user_pw
              , email
              , user_name
              , phone_num
              , zip_code
              , addr
              , detail_addr
              , updated_at
              , created_at
              , delete_yn
    )
         VALUES
    (           #{userId}
              , #{userPw}
              , #{email}
              , #{userName}
              , #{phoneNum}
              , #{zipCode}
              , #{addr}
              , #{detailAddr}
              , now()
              , now()
              , 'N'
    );
    </insert>

    <select id="checkJoinUser" resultType="com.example.petadmin.model.entity.user.UserEntity">
        SELECT
                user_id
              , user_pw
              , email
              , user_name
              , phone_num
              , zip_code
              , addr
              , detail_addr
              , updated_at
              , created_at
              , delete_yn
          FROM  user_entity a
         WHERE  user_id = #{user_id}
    </select>

    <select id="checkUserByName" resultType="com.example.petadmin.model.entity.user.UserEntity">
        SELECT
                user_idx
          FROM  user_entity a
         WHERE  userId = #{userId}
    </select>
</mapper>